*,
html {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
  background-image: linear-gradient(to right, red, yellow, green, blue);
  background-image: -webkit-linear-gradient(to right, red, yellow, green, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  border: 3px solid rgb(31, 221, 44);
  margin: auto;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 1rem;
}

.status {
  padding: 10px;
  font-size: 2rem;
  color: rgb(9, 39, 235);
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.player:hover {
  filter: brightness(0.9);
}

.active {
  background-color: bisque;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3px;
  place-items: center;
  margin: 1rem;
  background-color: blueviolet;
  padding: 10px;
}

.cell {
  display: flex;
  background-color: grey;
  font-size: 3rem;
  font-weight: 700;
  border-radius: 7px;
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  filter: brightness(0.8);
}

.bottom {
  font-size: 2rem;
  margin: 1rem;
  padding: 3px;
  color: red;
  text-align: center;
  border-radius: 5px;
}

#reset:hover {
  filter: brightness(0.7);
}

.deactivate {
  pointer-events: none;
}
